body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
    background-color: #f2f2f2;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    width: 70vw;
}

header {
    width: 70vw;
    transform: translateY(-5px);
    background: linear-gradient(#1a1a1a, #333);
    color: white;
    padding: 20px;
    border-radius: 5px;
}

h1 {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #e0e0e0;
}

#dataDesc {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#dataDesc h3 {
    text-align: center;
}

button {
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#data {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

#charts {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#charts h3 {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
}
  
.pagination li {
    display: block;
}

.navButton {
    position: fixed;
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

#goToTop {
    bottom: 0px;
    right: 70px;
}

#goToBottom {
    bottom: 0px;
    right: 20px;
}

#header-list {
    display: flex;
    justify-content: space-evenly;
}

.text-obj {
    display: flex;
    justify-content: center;
    text-align: center;
}

@media only screen and (max-width: 1000px) {
    #data {
        overflow: scroll;
    }
    header {
        width: 90vw;
    }
    div {
        width: 90vw;
    }
    #header-list {
        display: flex;
        flex-direction: column;
    }
    .header-obj {
        margin: 5px;
        text-align: center;
    }
    table {
        width: auto;
        font-size: 12px;
    }
}